<!doctype html>
<html>

  <%

  require_relative './common' 

  inst = SourceInst.new(repo_home: __dir__)
  commits = inst.all_commits.to_a.reverse
  by_version = inst.status_by_version

  %>

  <head>
    <title>mcjs - Are we ECMAScript yet?</title>
    <meta charset="utf-8">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages': ['corechart']})
      google.charts.setOnLoadCallback(drawChart)

      function drawChart() {
        const data = new google.visualization.arrayToDataTable([
          ['version', '% OK'],
          <% commits.each do |c| %>
            <% h = by_version[c.sha] %>
            [ <%= c.sha.dump %>
            , <%= h.nil? ? "null" : (100.0 * h[:count_ok] / (h[:count_ok] + h[:count_fail])) %>
            ],
          <% end %>
        ])

        const options = {
          width: 800,
          height: 400,
          vAxis: {
            minValue: 0,
            maxValue: 100,
          },
        }
        const element = document.getElementById('chart')
        const chart = new google.visualization.AreaChart(element)
        chart.draw(data, options)
      }
    </script>

    <style>
      body { font-family: serif; }
      h1 { text-align: center; }
      body > * {
        max-width: 800px;
        margin: auto;
        margin-bottom: 1.5cm;
      }

      table {
        margin: auto; 
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
      }
      thead {
        font-weight: bold;
      }
      tbody td {
        font-family: monospace;
      }
      tbody td {
        text-align: right;
      }
      tbody td:last-child {
        text-align: left;
      }
      tbody tr:hover {
        background-color: #eff6ff;
      }
      tbody a {
        color: #1d4ed8;
      }
    </style>
  </head>

  <body>
    <h1>mcjs: <i>Are we ECMAScript yet?</i></h1>
    <p>
      This is about <a href="https://github.com/sebastiano-barrera/mcjs/">mcjs</a>, a toy implementation of JavaScript inspired by LuaJIT that I'm writing for fun and learning.  Learn more in the <a href="https://sebastiano.pages.dev/posts/mcjs-intro/">blog post</a>.
    </p>

    <p>
    This chart tracks how much of the <i>test/language/</i> section of the <a href="https://github.com/tc39/test262/">Test262 ECMAScript Test Suite</a> mcjs passes today. Feels good to see the line go up!
    </p>

    <div id="chart"></div>

    <table>
      <thead>
        <tr>
          <td>Commit</td>
          <td># OK</td>
          <td># Fail</td>
          <td>% OK</td>
          <td>Summary</td>
        </tr>
      </thead>

      <tbody>
        <% commits.each do |c| %>
          <tr>
            <td>
              <a href="https://github.com/sebastiano-barrera/mcjs/commit/<%= c.sha %>">
                <%= c.sha[0..8] %>
              </a>
            </td>
            <% h = by_version[c.sha] %>
            <% if h.nil? %>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
            <% else %>
              <td><%= h[:count_ok] %></td>
              <td><%= h[:count_fail] %></td>
              <td></td>
            <% end %>

            <td class="align-left">
              <%= c.message.lines.first.chomp("\n") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>

</html>

